/* .nav-title span i{
    color: brown;
} */
/* Common style here */
body {
    max-width: 1920px;
    color: rgba(140, 87, 238, 0.05), rgba(241, 68, 174, 0.05);
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}

/* nav section style here */
.main-nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 220px;
}

.nav-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title img {
    width: 86.026px;
    height: 40.015px;
    margin-right: 20px;
}

.nav-title span {
    color: #FF42A5;
}

.nav-title h3 {
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-content a {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.text-nav {
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.text-nav li {
    list-style: none;
}

.text-nav a {
    text-decoration: none;
}

.social-nav {
    display: flex;
    gap: 10px;
    background-color: lightgray;
    padding: 16px 20px;
    align-items: center;
    border-radius: 8px;
}

.social-nav li {
    list-style: none;
}

.social-nav a {
    text-decoration: none;
}

.social-nav i {
    font-size: 25px;
}


/* nav section style ends here */

/* banner style here */

.banner {
    display: flex;
    justify-content: space-between;
    margin: 20px 220px 20px 0;
    /* gap: 68px; */
}

.banner-content {
    background-image: url('../images/Group\ 14.png');
    background-size: contain;
    padding: 0 220px;

}

.banner-info {
    padding-top: 50%;
}

.banner-info h4 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.banner-info h2 {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.banner-info {}

.banner-text {
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-text i {
    color: #F948B2;
    padding: 2px;
    margin-right: 5px;
}

.banner-text .play {
    width: 24px;
    height: 24px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}

.banner-text .group {
    color: black;
}

.login {
    border-radius: 48px;
    padding: 21px 30px;
    color: white;
    background-color: #F948B2;
    border: none;
    margin-right: 25px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.go {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 30px;
    border: none;
}

.banner-img img {
    width: 100%;
}

/* banner style ends here */


/* online section style here  */
.online {
    margin: 100px 220px;
}

.section-title h3 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 10px 0;
}

.section-title h3 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.online-card {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card img:hover {
    cursor: pointer;

}

.card p {
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 30px;
}



/* online section style ends  */



/* play section style here */

.instant {
    display: flex;
    margin: 100px 220px;
    gap: 265px
}

.instant-content {
    margin: auto 0;
}

.instant h3 {
    text-align: right;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}

.instant h3 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}

.instant-img {
    display: flex;
    position: relative;
}

.cat {
    width: 318px;
    height: 365px;
    position: absolute;
    bottom: 0px;
    margin-left: -145px;
    margin-bottom: -75px;

}

.horse {
    right: 0px;
}


/* play section ends here */

/* game section style start here */

.game-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 80px;
}

.game-container {
    display: flex;
    margin: 120px 150px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}

.game-item {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    padding: 15x 25px;
}

.game-item p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px;
}

/* game section style ends here */

/* footer section style here */

.footer {
    background: #0B0223;
    color: #FFF;
    padding: 120px 0;

}

.footer-title {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-content: center;
}

.footer-title img {
    width: 86.041px;
    height: 40px;
    margin: auto 0;
}

.footer .footer-title h3 {
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.footer .footer-title span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer ul li {
    list-style: none;
    padding-left: 60px;
    font-size: 18px;
    font-weight: 600;
}

.footer-icon {
    text-align: center;
    margin-top: 40px;
}

.footer-icon i {
    width: 40px;
    height: 40px;
    color: #FFF;
    font-size: 40px;
    text-align: center;
    margin-left: 30px;
}

.footer-term ul li {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}

.footer-term p {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
}


/* footer section style ends here */


.hiden{
    display:none;
}


/* Responsive style here*/


@media screen and (max-width:476px) {
    .nav{
        flex-direction: column;
        width: 90%;
        margin: 0 30px;
    }
    .nav-content{
        flex-direction: column;
        margin: 0;
        width: 80%;
    }
    .nav-title{
        justify-content: space-evenly;
        width: 80%;
    }
    
.banner-content{
    padding: 0;
}

.banner{
    flex-direction: column-reverse;
    margin: 0 20px;
}
.online {
    margin: 20px;
}
.online-card{
    flex-direction: column;
}
.instant{
    flex-direction: column;
    margin: 0 20px;
}
.instant-img{
    flex-direction: column;
}

.game-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


}